.pink {
  color: #00bcd4;
  font-family: "Roboto", sans-serif;
  /* font-weight: bold; */
  /* max-width: 12%; */
  height: 4vh;
}
.bold {
  font-weight: bold;
  color: #00bcd4;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 0.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00bcd4;
  width: 100vh;
  font-family: "Roboto", sans-serif;
  /* font-weight: bold; */
}
.-highlight {
  width: 100vh;
}
.pink-one {
  color: #00bcd4;
  /* font-weight: bold; */
  font-size: 1em;
}
.coin-header {
  width: 80%;
  height: auto;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 780px) {
  .coin-name {
    display: none;
  }
  .pink-one {
    display: none;
    /* flex-direction: row; */
  }
  .coin-header {
    width: 100%;
  }
  .-highlight {
    width: 100%;
  }
}
